/*---------- FONTS  ----------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&display=swap');



/*---------- COLORS  ----------*/
:root{
    --primary: #f29c11;
    --primary-light: #815f2a;
    --secondary: #282B3A;
    --success: #12c0a9;
    --success-light: #2b7a70;
    --danger: #FF4E4D;
    --blue: #3e91d5;
    --blue-light: #2a5373;
    --font: #9A9CAB;
    --pure: #ffffff; 

    --transition: all 0.4s;
}




/*---------- ALL TAGS  ----------*/
*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

body {
    background-color: #1C202C;
    font-family: 'Poppins', sans-serif;
    color: var(--pure);
}






/*--------- Utility Classes ---------*/
.flex{
    display: flex;
}

.jb{
    justify-content: space-between;
}

.jc{
    justify-content: center;
}

.align{
    align-items: center;
}

.event-elp {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.cp {
    cursor: pointer;
}





/*========= ASIDE & SIDEBAR ========== */
main {
    display: grid;
    grid-template-columns: 16rem auto;
    gap: 2rem;
    width: 96%;
    margin: 1rem auto 1rem;
}

main aside {
    background: var(--secondary);
    border-radius: 25px;
    margin: 1.10rem 0 1rem 0;
    height: 92vh;
    padding: 1rem 0 0rem 2rem;
    transition: all 0.6s ease;
}

main aside:hover {
    box-shadow: -6px -5px 40px rgba(0, 0, 0, 0.25);
}

main aside .sidebar .logo {
    margin: 1rem 0 4rem 0;
}

main aside .sidebar .logo img {
    width: 35px;
    margin-right: 1.5rem;
}

main aside .sidebar .logo h4 {
    font-weight: 400;
    color: var(--font);
}

main aside .sidebar a {
    display: flex;
    align-items: center;
    color: var(--font);
    margin-bottom: 2rem;
}

main aside .sidebar a h4 {
    font-weight: 400;
    margin-left: 1.5rem;
}

main aside .sidebar a.active:before {
    content: '';
    width: 6px;
    height: 6%;
    border-radius: 0 5px 5px 0;
    position: absolute;
    left: 34px;
    background: var(--primary);
}

main aside .sidebar a.active{
    color: var(--pure);
}

main aside .sidebar a{
    transition: var(--transition);
}

main aside .sidebar a:hover {
    margin-left: 0.5rem;
    cursor: pointer;
}

main aside .scheduled-events .event-heading h4 {
    color: var(--pure);
    font-weight: 600;
    letter-spacing: 1px;
    margin: 4rem 0 2.2rem 0;
}

main aside .scheduled-events .event-1 .elp-1 {
    border: 3px solid var(--blue);
}

main aside .scheduled-events .event-2 .elp-2 {
    border: 3px solid var(--primary);
}

main aside .scheduled-events .event-3 .elp-3 {
    border: 3px solid var(--success);
}

main aside .scheduled-events > div h4 {
    color: var(--font);
    font-weight: 400;
    margin-left: 1.5rem;
}

main aside .scheduled-events .event-items > div {
    margin-bottom: 1.2rem;
    transition: var(--transition);
}

main aside .scheduled-events .event-items > div:hover {
    margin-left: 0.5rem;
    cursor: pointer;
}






/*========= MIDDLE TOP ========== */
section.middle {
    margin: 1rem 2rem 0 2rem;
}

section.middle .middle-top .middle-top-profile img {
    width: 55px;
    height: 55px;
}

section.middle .middle-top .middle-top-profile h3 {
    font-weight: 200;
    color: var(--pure);
    padding-left: 20px;
    opacity: 0.8;
}

section.middle .middle-top .middle-top-search .search-bar {
    background: var(--secondary);
    padding: 13px 0;
    border-radius: 30px 5px 5px 30px;
    padding: 0.8rem 5rem 0.8rem 1rem;
}


section.middle .middle-top .middle-top-search .search-bar input[type="search"] {
    background: transparent;
    width: 100%;
    color: var(--pure);
}

section.middle .middle-top .middle-top-search .search-bar input[type="search"]::placeholder {
    color: var(--font);
}

section.middle .middle-top .middle-top-search .search-icon {
    background: var(--primary-light);
    color: var(--pure);
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
    border-radius: 15px 30px 30px 15px;
    margin-right: 1.5rem;
    cursor: pointer;
}

section.middle .middle-top .middle-top-search .chat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background: var(--primary);
    color: var(--pure);
    border-radius: 15px;
    margin-right: 3rem;
    cursor: pointer;
}

section.middle .middle-top .middle-top-search .notification {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: var(--primary-light);
    color: var(--pure);
    border-radius: 30px;
    cursor: pointer;
}

section.middle .middle-top .middle-top-search .notification-num {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    color: var(--pure);
    font-size: 8px;
    border-radius: 20px;
    width: 15px;
    height: 15px;
    margin: 0 0 17px -8px;
}



/*========= MIDDLE CENTER ========== */
section.middle .middel-courses {
    row-gap: 2rem;
    justify-content: space-between;
    margin: 2rem 0 1rem 0;
}

section.middle .middel-courses .course-heading h1 {
    margin-right: 11.7rem;
}



section.middle .middel-courses .course-heading h1, section.middle .middel-courses .course-heading-c h1 {
    color: var(--pure);
    font-size: 30px;
    font-weight: 400;
}

section.middle .middel-courses i{
    color: var(--pure);
    padding: 0.4rem;
    background: var(--primary-light);
    border-radius: 8px;
    cursor: pointer;
}

section.course-content .courses-middle .hot1 {
    background: var(--secondary);
    width: 70px;
    height: 270px;
    border-radius: 15px;
    flex-direction: column;
    padding: 1rem;
    margin-right: 2rem;
    transition: all 0.6s ease;
} 

section.course-content .courses-middle .hot1:hover {
    box-shadow: -6px -5px 40px rgba(0, 0, 0, 0.25);
}

section.course-content .courses-middle .hot1 .co-img-icon {
    padding-left: 1.5rem;
}

section.course-content .courses-middle .hot1 .co-img-icon img {
    width: 40px;
    z-index: 1;
}

section.course-content .courses-middle .hot1 .co-img-icon i{
    color: var(--pure);
    position: relative;
    left: -32px;
    top: 13px;
    z-index: 2;
}

section.course-content .courses-middle .hot1 .heading-co{
    transform: rotate(-90deg);
    color: var(--pure);
    flex-direction: column;
}

section.course-content .courses-middle .hot1 .heading-co span {
    font-size: 14px;
    font-weight: 600;
}

section.course-content .courses-middle .hot1 .heading-co p {
    font-size: 10px;
    color: var(--font);
}

section.course-content .courses-middle .hot1 .icon-co-h1, section.course-content .courses-middle .hot1 .icon-co-h2, section.course-content .courses-middle .hot1 .icon-co-h3 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
} 

section.course-content .courses-middle .hot1 .icon-co-h1 {
    background-color: var(--primary-light);
    color: var(--primary);
}

section.course-content .courses-middle .hot1 .icon-co-h2 {
    background-color: var(--blue-light);
    color: var(--blue);
}

section.course-content .courses-middle .hot1 .icon-co-h3 {
    background-color: var(--success-light);
    color: var(--success);
}





section.course-content .courses-middle .hot2 {
    background: var(--secondary);
    width: 270px;
    height: 270px;
    border-radius: 15px;
    flex-direction: column;
    padding: 1rem;
    margin-right: 2rem;
} 

section.course-content .courses-middle .hot2 .pro-gr img {
    width: 25px;
    margin-right: 0.6rem;
}

section.course-content .courses-middle .hot2 .pro-gr p {
    color: var(--font);
    font-size: 10px;
    margin-right: 2rem;
}

section.course-content .courses-middle .hot2 .pro-gr h5 {
    background: var(--primary-light);
    color: var(--primary);
    padding: 0.2rem 0.9rem;
    border-radius: 5px;
    font-size: 10px;
}

section.course-content .courses-middle .hot2 .pro-gr {
    margin-bottom: 1rem;
}

section.course-content .courses-middle .hot2 {
    padding-left: 1.5rem;
    transition: all 0.6s ease;
}

section.course-content .courses-middle .hot2 .co-img-icon img {
    width: 40px;
    z-index: 1;
}

section.course-content .courses-middle .hot2 .co-img-icon i{
    color: var(--pure);
    position: relative;
    z-index: 2;
}

section.course-content .courses-middle .hot2 .heading-co{
    color: var(--pure);
    flex-direction: column;
}

section.course-content .courses-middle .hot2 .heading-co p {
    font-size: 10px;
}

section.course-content .courses-middle .hot2 .icon-co i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-light);
    color: var(--primary);
} 


section.course-content .courses-middle .hot2 .co-img-icon .img-icon-m img {
    z-index: 1;
}

section.course-content .courses-middle .hot2 .co-img-icon .img-icon-m i {
    position: relative;
    left: -32px;
    top: -15px;
    z-index: 2;
}

section.course-content .courses-middle .hot2 .co-img-icon, section.course-content .courses-middle .hot2 .heading-co, section.course-content .courses-middle .hot2 .lesson-co {
    margin-bottom: 0.8rem;
}

section.course-content .courses-middle .hot2 .almost-complete {
    margin-bottom: 20px;
}

section.course-content .courses-middle .hot2 .heading-co span {
    font-weight: 200;
}

section.course-content .courses-middle .hot2 .lesson-co i {
    padding-right: 0.4rem;
    color: var(--blue);
}

section.course-content .courses-middle .hot2 .lesson-co p {
    padding-right: 1rem;
    color: var(--font);
    font-size: 12px;
}

section.course-content .courses-middle .hot2 .almost-complete .online-elep {
    width: 8px;
    height: 8px;
    background: var(--success);
    border-radius: 50%;
    margin-right: 0.6rem;
}

section.course-content .courses-middle .hot2 .almost-complete p {
    color: var(--pure);
    font-size: 10px;
}



section.course-content .courses-middle .hot2 .icon-co i {
    margin-right: 1rem;
    cursor: pointer;
}

section.course-content .courses-middle .hot2 .icon-co i.co-icon-l2 {
    background: var(--blue-light);
    color: var(--blue);
}

section.course-content .courses-middle .hot2 .icon-co i.co-icon-l3 {
    background: var(--success-light);
    color: var(--success);
}

section.course-content .courses-middle .hot2:hover {
    box-shadow: -6px -5px 40px rgba(0, 0, 0, 0.25);
}






/*========= MIDDLE PART-2 ========== */
section.course-content .clandar-middle .clandar-top-weekend {
    background: var(--secondary);
    color: var(--pure);
    padding: 0.65rem 3rem 0.65rem 2.5rem;
    margin-left: 6rem;
    border-radius: 10px;
    box-shadow: -6px -5px 40px rgba(0, 0, 0, 0.25);
}

section.course-content .clandar-middle .clandar-top-weekend ul li {
    padding-right: 2.5rem;

}

section.course-content .clandar-middle .clandar-top-weekend ul li.laste-li {
    padding-right: 3px;
}

section.course-content .clandar-middle .clandar-date {
    width: 33.125rem;
    height: 14.063rem;
    margin-left: 6.125rem;
}

section.course-content .clandar-middle .clandar-date ul {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 1.625rem;
    margin-top: 1rem;
}

section.course-content .clandar-middle .clandar-date ul li{
    width: 40px;
    height: 60px;
    font-size: 1rem;
    color: var(--pure);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    transition: all 0.3s ease;
}

section.course-content .clandar-middle .clandar-date ul li.active {
    width: 40px;
    height: 40px;
    background: var(--primary-light);
    border-radius: 50%;
}

section.course-content .clandar-middle .clandar-date ul li:hover {
    background: var(--primary-light);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

section.course-content {
    margin-bottom: 1rem;
}





/*========= MIDDLE PART-3 ========== */
section.middle .middle-tsc .today-lecture h1, section.middle .middle-tsc .statistics h1 {
    color: var(--pure);
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 1rem;
}

section.middle .middle-tsc .today-lecture .date-cla, section.middle .middle-tsc .today-lecture .location {
    margin-bottom: 2rem;
}

section.middle .middle-tsc .today-lecture .date-cla i {
    background: var(--blue-light);
    padding: 1.5rem;
    border-radius: 16px;
    color: var(--blue);
    margin-right: 1rem;
}

section.middle .middle-tsc .today-lecture .date-cla .date-cla-data p, section.middle .middle-tsc .today-lecture .location .location-data p, section.middle .middle-tsc .today-lecture .accept-video .accept-video-data p {
    color: var(--font);
    font-size: 12px;
}

section.middle .middle-tsc .today-lecture .date-cla .date-cla-data h4, section.middle .middle-tsc .today-lecture .location .location-data h4, section.middle .middle-tsc .today-lecture .accept-video .accept-video-data h4 {
    color: var(--pure);
    font-size: 18px;
    font-weight: 500;
}


section.middle .middle-tsc .today-lecture .location i {
    padding: 1.5rem;
    border-radius: 16px;
    margin-right: 1rem;
    background: var(--primary-light);
    color: var(--primary);
}

section.middle .middle-tsc .today-lecture .accept-video i {
    padding: 1.5rem;
    border-radius: 16px;
    margin-right: 1rem;
    background: var(--success-light);
    color: var(--success);
}




/*========= MIDDLE PART-4 ========== */
section.middle .middle-tsc .statistics {
    margin-left: 6rem;
}
 
section.middle .middle-tsc .statistics .statistic-all-data {
    background: var(--secondary);
    border-radius: 15px;
    width: 585px;
    padding: 1rem 2rem;
}

section.middle .middle-tsc .statistics .statistic-all-data .details {
    margin-bottom: 1.3rem;
}

section.middle .middle-tsc .statistics .statistic-all-data .details h3 {
    font-weight: 400;
font-size: 20px;
}

section.middle .middle-tsc .statistics .statistic-all-data .details .details-right p {
    color: var(--font);
    font-size: 15px;
    margin-right: 1rem;
}

section.middle .middle-tsc .statistics .statistic-all-data .details .details-right .yearly-icon-text {
    background: var(--primary-light);
    padding: 0.2rem 0.8rem;
    border-radius: 20px;
}

section.middle .middle-tsc .statistics .statistic-all-data .details .details-right .yearly-icon-text h4 {
    font-size: 12px;
    font-weight: 200;
    color: var(--primary);
    margin-right: 0.5rem;
}

section.middle .middle-tsc .statistics .statistic-all-data .details .details-right .yearly-icon-text i {
    color: var(--primary);
}

section.middle .middle-tsc .statistics .statistic-all-data .statistic-bars .num-left p {
    margin-bottom: 1rem;
    color: var(--font);
}

section.middle .middle-tsc .statistics .statistic-all-data .num-bottom {
    margin-left: 3.5rem;
}

section.middle .middle-tsc .statistics .statistic-all-data .num-bottom p {
    margin-right: 2rem;
    color: var(--font);
}

section.middle .middle-tsc .statistics .statistic-all-data .statistic-bars .num-left{
    align-items: flex-end;
}

section.middle .middle-tsc .statistics .statistic-all-data .statistic-bars .statistics-bar > div {
    margin-bottom: 1rem;
    margin-left: 0.2rem;
    border-radius: 5px 5px 0 0;
}
section.middle .middle-tsc .statistics .statistic-all-data .statistic-bars .statistics-bar {
    align-items: flex-end;
}

section.middle .middle-tsc .statistics .statistic-all-data .statistic-bars .statistics-bar .item1 {
    background: var(--success);
    width: 35px;
    height: 55px;
    margin-left: 1.6rem;
}

section.middle .middle-tsc .statistics .statistic-all-data .statistic-bars .statistics-bar .item2 {
    background: var(--primary);
    width: 35px;
    height: 175px;
    margin-left: 1.95rem;
}

section.middle .middle-tsc .statistics .statistic-all-data .statistic-bars .statistics-bar .item3 {
    background: var(--blue);
    width: 35px;
    height: 100px;
    margin-left: 1.95rem;
}

section.middle .middle-tsc .statistics .statistic-all-data .statistic-bars .statistics-bar .item4 {
    background: var(--success);
    width: 35px;
    height: 125px;
    margin-left: 1.95rem;
}

section.middle .middle-tsc .statistics .statistic-all-data .statistic-bars .statistics-bar .item5 {
    background: var(--primary);
    width: 35px;
    height: 75px;
    margin-left: 2.2rem;
}

section.middle .middle-tsc .statistics .statistic-all-data .statistic-bars .statistics-bar .item6 {
    background: var(--danger);
    width: 35px;
    height: 60px;
    margin-left: 1.95rem;
}

section.middle .middle-tsc .statistics .statistic-all-data .statistic-bars .statistics-bar .item7 {
    background: var(--success);
    width: 35px;
    height: 125px;
    margin-left: 1.95rem;
}